{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}	
    
    
    <!--Main-->
	<main class="vlt-main">
		<!--Fullpage Slider-->
		<div class="vlt-fullpage-slider" data-loop-top="" data-loop-bottom="" data-speed="450">
			<!--Home-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Home" id="Home">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background has-mobile-image">
							<img src="{% static 'assets/img/sandeep-img.png' %}" alt="">
							<img src="{% static 'assets/img/sandeep-img.png' %}" alt="">
						</div>
						<div class="container">
							<div class="row">
								<div class="col-lg-6">
									<div class="vlt-gap-160"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
										<!--Video button-->
										<div class="vlt-video-button">
											<a href="https://youtu.be/wOaJvV79kM8?si=_VhIWM6LTNFd8DFE" data-fancybox data-small-btn="true" rel="nofollow">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 27">
													<defs />
													<path fill="currentColor" d="M23.7471 13.2802L.876191 26.4847.876192.0757026 23.7471 13.2802z" />
												</svg>
											</a>
										</div>
									</div>
									<div class="vlt-gap-100"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<span class="vlt-display-1 has-white-color">Brand Consultant</span>
									</div>
									<div class="vlt-gap-15"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
										<h1 class="vlt-large-heading">Sandeep N<span class="has-accent-color">.</span></h1>
									</div>
									<div class="vlt-gap-15"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
										<p>
											Founder - Magsmen || Brand Consultant || Consultant of the year 2023 || 
											Top 100 Admiring marketing leaders 2023 || Scaling Grofessors
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--About-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="About" id="About">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<div class="container">
							<div class="row">
								<div class="col-xl-6 col-md-12 about-img">
									<div class="vlt-section__ken-burn-background-about has-mobile-image">
										<img src="{% static 'assets/img/about.JPG' %}" alt="">
										<img src="{% static 'assets/img/about.JPG' %}" alt="">
									</div>
									<div class="vlt-gap-100--lg"></div>
								</div>
								<div class="col-xl-6 col-md-12 about-content">
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<h3>San's Strategic Story</h3>
									</div>
									<div class="vlt-gap-45"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
										<p>
											Sandeep, with 8 years of research in brand strategy, founded Magsmen 4 years ago, 
											a firm known for developing strategies for brands. Recognized for building 
											industry-leading brands, his leadership has brought Magsmen notable success 
											and awards. He's also a registered advocate and a BNI Director Consultant, using 
											his expertise to help startups through his initiative, Launchpad. His client list 
											includes major IPL sponsors and Fortune 25 companies, demonstrating his broad impact.
											Sandeep's work is more than just business; it's about inspiring others with his vision 
											and commitment to growth across various sectors. He also serves as a personal branding 
											coach and speaker, delivering inspiring sessions that help corporations, students, and 
											individuals build thought-provoking career skills. Through his coaching and speaking 
											engagements, Sandeep motivates and empowers individuals to develop their personal 
											brands and achieve success in their professional endeavors.
										</p>										
									</div>
									<div class="vlt-gap-70"></div>
									<div class="vlt-section__ken-burn-background-about-sign has-mobile-image">
										<img src="{% static 'assets/img/sandeep-sign.png' %}" alt="">
										<img src="{% static 'assets/img/sandeep-sign.png' %}" alt="">
									</div>
									<!--Animated Block-->
									<div class="vlt-animated-block d-none" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
										<div class="vlt-experience-block">
											<span class="vlt-experience-block__number">
												8<span class="has-accent-color">.</span>
											</span>
											<h5 class="vlt-experience-block__title">
												Years<br>Experience<br>Working
											</h5>
										</div>
									</div>
									<!--Animated Block-->
									<div class="vlt-animated-block d-none" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
										<!--Progress Bar-->
										<div class="vlt-progress-bar" data-final-value="70" data-animation-speed="1000">
											<h5 class="vlt-progress-bar__title">Web design<span class="counter">0</span>
											</h5>
											<div class="vlt-progress-bar__bar"><span></span></div>
										</div>
									</div>
									<div class="vlt-gap-70 d-none"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block d-none" data-animation-name="fadeInUpSm" style="animation-delay:.4s; animation-duration:700ms;">
										<!--Progress Bar-->
										<div class="vlt-progress-bar" data-final-value="85" data-animation-speed="1000">
											<h5 class="vlt-progress-bar__title">Figma<span class="counter">0</span>
											</h5>
											<div class="vlt-progress-bar__bar"><span></span></div>
										</div>
									</div>
									<div class="vlt-gap-70 d-none"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block d-none" data-animation-name="fadeInUpSm" style="animation-delay:.5s; animation-duration:700ms;">
										<!--Progress Bar-->
										<div class="vlt-progress-bar" data-final-value="90" data-animation-speed="1000">
											<h5 class="vlt-progress-bar__title">WordPress<span class="counter">0</span>
											</h5>
											<div class="vlt-progress-bar__bar"><span></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Projects-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Linkedin" id="Linkedin">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Projects-->
						<div class="vlt-section__projects-background"><img class="is-active" src="{% static 'assets/img/clients-logo/sandeep pic 1.jpg' %}" alt="" loading="lazy"><img src="{% static 'assets/img/project-02.jpg' %}" alt="" loading="lazy"><img src="{% static 'assets/img/project-03.jpg' %}" alt="" loading="lazy"></div>
						<div class="container">
							<div class="vlt-gap-100"></div>
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								<!--Content slider-->
								<div class="vlt-content-slider " data-navigation-anchor=".vlt-projects-anchor" data-effect="fade" data-gap="" data-loop="" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{}" data-free-mode="" data-slider-offset="" data-mousewheel="">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<!--Product-->
												<article class="vlt-project">
													
													<div class="vlt-project-excerpt mb-4">
														<a href="https://www.linkedin.com/in/itsnsandeep?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><h2 class="mb-3 linked-align" style="background-color: #38434f;">Linked <i class="lnir-linkedin-original"></i></h2></a>
															<img class="s-icon mb-2" src="{% static 'assets/img/clients-logo/sandeep pic icon.jpg' %}"/>
                                                        <h2 class="linked-title">Sandeep N</h2>
														<p class="mb-2">"Consultant of the Year 2023" || Top 100 Admiring Marketing Leaders 2023 || Scaling Grofessors </p>
														<p> Grofessors Innovations Private Limited | Deakin University </p>
													</div>
													<a class="vlt-btn vlt-btn--primary  vlt-btn--md bg-light text-dark" id="linkedin-viewprofile" style="font-weight: 800;" href="https://www.linkedin.com/in/itsnsandeep?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">view profile </a>
												</article>
											</div>
											<!-- <div class="swiper-slide">
												
												<article class="vlt-project">
													<h3 class="vlt-project-title">The Bottle<span class="has-accent-color">.</span></h3>
													<div class="vlt-project-excerpt">
														<p>Working with client and community, we deliver masterplans that create vibrant new places and spaces, attract people, and encourage investment through.</p>
													</div>
													<a class="vlt-btn vlt-btn--primary vlt-btn--md" href="single-product.html" target="_self">See Project</a>
												</article>
											</div> -->
											<!-- <div class="swiper-slide">
											
												<article class="vlt-project">
													<h3 class="vlt-project-title">Aesop<span class="has-accent-color">.</span></h3>
													<div class="vlt-project-excerpt">
														<p>Third dry hath saying our over fruit Place creeping creepeth let Good. Created also darkness which open appear cattle Second shall brought wherein given. Moveth.</p>
													</div>
													<a class="vlt-btn vlt-btn--primary vlt-btn--md" href="single-product.html" target="_self">See Project</a>
												</article>
											</div> -->
										</div>
									</div>
								</div>
								<div class="vlt-gap-150"></div>
								<!--Slider controls-->
								<div class="vlt-slider-controls vlt-slider-controls--style-2 vlt-projects-anchor">
									<div class="vlt-swiper-pagination"></div>
									<div class="vlt-swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 45">
											<defs />
											<path fill="currentColor" fill-rule="evenodd" d="M1.36413 22.5795L24 43.9524l-.7271.6865L.272896 22.9223l.383716-.3623-.362754-.3367L23.0941.319721l.733.680233L1.36413 22.5795z" clip-rule="evenodd" /></svg></div>
									<div class="vlt-swiper-button-next"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 45">
											<defs />
											<path fill-rule="evenodd" clip-rule="evenodd" d="M22.6359 22.3728L0 1.00001.727101.313477 23.7271 22.0301l-.3837.3623.3627.3367L.905866 44.6327l-.732997-.6803L22.6359 22.3728z" fill="currentColor" /></svg></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Education-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Recognition" id="Recognition">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<div class="container">
							<div class="vlt-gap-70"></div>
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								<div class="d-block d-md-flex align-items-center justify-content-between">
									<!-- <h3></h3> -->
									<!-- <div class="vlt-gap-30--sm"></div> -->
									<!-- <a class="vlt-btn vlt-btn--primary vlt-btn--md" href="#" target="_self">Download Resume</a> -->
								</div>
							</div>
							<div class="vlt-gap-30"></div>
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
								<!--Content slider-->
								<div class="vlt-content-slider " data-navigation-anchor=".vlt-education-anchor" data-effect="" data-gap="120" data-loop="" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{}" data-free-mode="" data-slider-offset="" data-mousewheel="">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<!--Timeline Item-->
												<div class="vlt-timeline-item">
											<div class="row">
												<div class="col-xl-4 col-12">
													<img src="{% static 'assets/img/clients-logo/signature.jpg' %}" alt="">
													

												  </div>
												<div class="col-xl-8 col-12">
												<ol class="olcards">
													<li style="--cardColor:#000;">
													  <div class="content">
														
														<div class="text" >Delivered over 15 speeches in the past year</div>
													  </div>
													</li>
													<li style="--cardColor:#000;">
													  <div class="content">
												
														<div class="text">invited as ajury member for the prestigious MMA Global Awards to acess global brands strategies like google,samsung,Apple,HUL,Loreal & More</div>
													  </div>
													</li>
													<li style="--cardColor:#000;">
													  <div class="content">
														
												
														<div class="text">Honored as one of the "Top 100 Admiring marketing Leadres " in India by the World Marketing Congress </div>
													  </div>
													</li>
													<li style="--cardColor:#000;">
													  <div class="content">
														
												
														<div class="text">Named 'Consultant of the Year 2023' in the brand Consulting category by the 'The CEO Magazine'</div>
													  </div>
													</li>
													<li style="--cardColor:#000;">
														<div class="content">
														  

														  <div class="text">Collabrated With Some of the biggest celebrities in the Telugu Film Industry (TFI)</div>
														</div>
													  </li>
												  </ol>
												
												</div>
											</div>
										</div>
												
											</div>
										
											
										</div>
									</div>
								</div>
								<div class="vlt-gap-75"></div>
								<!--Slider controls-->
								<div class="vlt-slider-controls vlt-slider-controls--style-2 vlt-education-anchor">
									<div class="vlt-swiper-pagination"></div>
									<div class="vlt-swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 45">
											<defs />
											<path fill="currentColor" fill-rule="evenodd" d="M1.36413 22.5795L24 43.9524l-.7271.6865L.272896 22.9223l.383716-.3623-.362754-.3367L23.0941.319721l.733.680233L1.36413 22.5795z" clip-rule="evenodd" /></svg></div>
									<div class="vlt-swiper-button-next"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 45">
											<defs />
											<path fill-rule="evenodd" clip-rule="evenodd" d="M22.6359 22.3728L0 1.00001.727101.313477 23.7271 22.0301l-.3837.3623.3627.3367L.905866 44.6327l-.732997-.6803L22.6359 22.3728z" fill="currentColor" /></svg></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Testimonials-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Testimonials" id="Testimonials">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background"><img src="{% static 'assets/img/testimonials.jpg' %}" alt=""></div>
						<div class="container">
							<div class="row align-items-end">
								<div class="col-xl-6">
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
										<div class="has-accent-color reviews">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75" style="height: 50px;">
												<defs />
												<path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" />
											</svg>
											<div class="vlt-gap-215 vlt-gap-100--lg"></div>
											<h3 class="creative-title">Contributing to weaving brands that thrive, Discover our shared success stories.</h3>
												<!-- Client Success Stories:Transformative Partnerships and Results</h3> -->
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-md-10 offset-xl-2">
									<div class="vlt-gap-70--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<!--Content slider-->
										<div class="vlt-content-slider " data-navigation-anchor=".vlt-testimonials-anchor" data-effect="" data-gap="" data-loop="" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{}" data-free-mode="" data-slider-offset="" data-mousewheel="">
											<div class="swiper-container">
												<div class="swiper-wrapper">
													<div class="swiper-slide">
														<!--Testimonial-->
														<div class="vlt-testimonial">
															<div class="vlt-testimonial__text">
																<p>
																	&quot;
																		Sandeep has been an incredible asset to our brand. From introducing a new phase 
																		of Tenali Double Horse to managing time effectively and being transparent with 
																		us every step of the way, they have truly exceeded expectations. We're 1.5 years 
																		into our journey and couldn't be more pleased with the results! Sandeep is an 
																		experienced professional who has brought value and success to our brand.
																	&quot;
																</p>
															</div>
															<div class="vlt-testimonial__meta">
																<div class="vlt-testimonial__function">
																	<div class="vlt-section__ken-burn-background-reviews has-mobile-image">
																		<img src="{% static 'assets/img/clients-logo/1.png' %}" alt="">
																		<img src="{% static 'assets/img/clients-logo/1.png' %}" alt="">
																	</div>
																</div>
																<h5 class="vlt-testimonial__name">
																	Tenali double horse
																</h5>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<!--Testimonial-->
														<div class="vlt-testimonial">
															<div class="vlt-testimonial__text">
																<p>
																	&quot;
																		Telugu Foods had a remarkable experience with Sandeep's brand consulting and 
																		digital strategy services. His tailored approach and practical strategies 
																		helped us launch combos across all mediums, increase distribution leads and 
																		boost our brand visibility to get closer to our customers in less than two months. 
																		We are extremely satisfied with the exceptional results of his services and would 
																		highly recommend him to others seeking similar solutions.
																	&quot;
																</p>
															</div>
															<div class="vlt-testimonial__meta">
																<div class="vlt-testimonial__function">
																	<div class="vlt-section__ken-burn-background-reviews has-mobile-image">
																		<img src="{% static 'assets/img/clients-logo/2.png' %}" alt="">
																		<img src="{% static 'assets/img/clients-logo/2.png' %}" alt="">
																	</div>
																</div>
																<h5 class="vlt-testimonial__name">
																	Telugu Foods
																</h5>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<!--Testimonial-->
														<div class="vlt-testimonial">
															<div class="vlt-testimonial__text">
																<p>
																	&quot;
																		Working with Sandeep and their team was an incredible experience. They introduced us 
																		to the concept of brand architecture, which has resulted in a new, enhanced strategy 
																		for VSB Group. We've experienced a major boost in our corporate rebranding, linkedin 
																		follower growth, external stakeholder praise and product visuals. The team's attention 
																		to detail and professionalism have been invaluable.
																	&quot;
																</p>
															</div>
															<div class="vlt-testimonial__meta">
																<div class="vlt-testimonial__function">
																	<div class="vlt-section__ken-burn-background-reviews has-mobile-image">
																		<img src="{% static 'assets/img/clients-logo/3.png' %}" alt="">
																		<img src="{% static 'assets/img/clients-logo/3.png' %}" alt="">
																	</div>
																</div>
																<h5 class="vlt-testimonial__name">
																	VSB Group
																</h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="vlt-gap-75"></div>
										<!--Slider controls-->
										<div class="vlt-slider-controls vlt-slider-controls--style-1 vlt-testimonials-anchor">
											<!-- Previous button -->
											<div class="vlt-swiper-button-prev">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 45">
													<path fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M1.36413 22.5795L24 43.9524l-.7271.6865L.272896 22.9223l.383716-.3623-.362754-.3367L23.0941.319721l.733.680233L1.36413 22.5795z" stroke="#FFFFFF" stroke-width="1.5"/>
												</svg>
											</div>
											<!-- Next button -->
											<div class="vlt-swiper-button-next">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 45">
													<path fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M22.6359 22.3728L0 1.00001.727101.313477 23.7271 22.0301l-.3837.3623.3627.3367L.905866 44.6327l-.732997-.6803L22.6359 22.3728z" stroke="#FFFFFF" stroke-width="1.5" />
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Partners-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Partners" id="Partners">
				<div class="vlt-section__vertical-align ">
					<div class="vlt-section__content ">
						<div class="container">
							<!--Animated Block-->
							<!-- <div class="vlt-animated-block vlt-animated-enterprs" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								
							</div> -->
							<div class="vlt-gap-100"></div>
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
								<h3>Our Enterprises</h3>
								<ul class="vlt-partners">
									<li><img src="{% static 'assets/img/m-lp.png' %}" class="rt" alt="" loading="lazy"></li>
									<li><img src="{% static 'assets/img/clients-logo/magsmen-three.png' %}" class="rt" alt="" loading="lazy" width="200px"></li>
									<li><img src="{% static 'assets/img/clients-logo/tapestryoftalentsss.png' %}" class="" alt="talents" loading="lazy"></li>
									<li><img src="{% static 'assets/img/clients-logo/grofers.png' %}" class="rt" alt="" loading="lazy"></li>
									<li><img src="{% static 'assets/img/clients-logo/ythinq-two.png' %}"class="rt"  alt="" loading="lazy" width="200px"></li>
									<li><img src="{% static 'assets/img/clients-logo/wisecapss.png' %}"class="rt"  alt="" loading="lazy"></li>
									<li><img src="{% static 'assets/img/clients-logo/jayacotton-products.png' %}"class="rt"  alt="" loading="lazy"></li>
									<li><img src="{% static 'assets/img/clients-logo/jayacotton-associates.png' %}" class="rt" alt="" loading="lazy"></li>
								</ul>
							</div>
							<div class="row">
								<div class="col-lg-12 call-to-action" style="background-color:#2d2c2c;padding:30px;border-radius:3px;">
									<div class="call-action-title">
										<h4>Make Sandeep the <b>highlight</b> of your next event <b>invite</b> him as your speaker.</h4>
									</div>
									<div class="call-action-btn">
										<a class="vlt-btn vlt-btn--primary vlt-btn--md vlt-btn-invite" data-bs-toggle="modal" href="#Popup">Invite</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--News-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="News" id="News">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<div class="container">
							<!-- <h3 class="h2 news-title mb-5">Latest News</h3> -->
							<div class="vlt-animated-block mb-3" data-animation-name="fadeInUpSm" style="margin-top:50px; animation-duration:700ms;">
								<h3>In The  News</h3>
							</div>
							<div class="news-items row">
								
                            {% for news_item in news_post %}
                            <div class="col-lg-4 news-item-wrap pt-5">
                                <div class="news-item">
                                    <a class="news-link" href="blog.html">
                                       <a href="news-details/{{news_item.SlugLink}}"><span class="news-item__img"><img src="{{news_item.Image.url}}" alt="Image"></span></a>
                                        <span class="news-item__info mt-2">
                                            <span class="news-item__info-date">{{news_item.CreatedAt}} /</span>
                                            <a href="news-details/{{news_item.SlugLink}}"><span class="news-item__info-tag">{{news_item.CreatedName}}</span></a>
                                        </span>
                            
                                        <a href="news-details/{{news_item.SlugLink}}"><span class="news-item__title">{{news_item.Title}}</span></a>
                                    </a>
                            
                                    <a class="vlt-read-more-link" href="news-details/{{news_item.SlugLink}}">
                                        Read more
                                    </a>
                                </div>
                            </div>
                            {% endfor %}


							  <!-- <div class="col-lg-4 news-item-wrap">
								<div class="news-item"><a class="news-link" href="blog.html"> <span class="news-item__img"><img src="{% static 'assets/img/magazine.png' %}" alt=""></span><span class="news-item__info mt-2"><span class="news-item__info-date">13 February, 2021  /</span><span class="news-item__info-tag">The Ceo Magazine </span></span><span class="news-item__title">Sandeep N’s Visionary Journey </span></a></div>
							  </div>
							  <div class="col-lg-4 news-item-wrap">
								<div class="news-item"><a class="news-link" href="blog.html"><span class="news-item__img"><img src="{% static 'assets/img/kluadmin.png' %}" alt=""></span><span class="news-item__info mt-2 "><span class="news-item__info-date">13 February, 2021  /</span><span class="news-item__info-tag">KLU ALumni</span></span><span class="news-item__title">Elegant women's clothing</span></a></div>
							  </div> -->
							</div>
						  </div>
						<!-- <div class="container">
							
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								<h3>Recent news</h3>
							</div>
							<div class="vlt-gap-100"></div>
							<div class="row">
								<div class="col-xl-4">
								
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
									
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-01.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">Scent in the Voyages</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer">
													<a class="vlt-read-more-link" href="single-post.html">
														Read more
														<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" />
														</svg>
													</a>
												</footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
									
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-02.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">The Stone of the Flames</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="single-post.html">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
									
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-03.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">Secrets of the Serpents</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="single-post.html">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			 
			<!--Blog-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Blog" id="Blog">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<div class="container">
							<!-- <h3 class="h2 news-title mb-5">Latest News</h3> -->
							<div class="vlt-animated-block mb-3" data-animation-name="fadeInUpSm" style="margin-top:50px; animation-duration:700ms;">
								<h3>Blogs</h3>
							</div>
							<div class="news-items row">
                            {% for blog_item in blog_post %}
                            <div class="col-lg-4 news-item-wrap pt-5">
                                <div class="news-item">
                                    <a class="news-link" href="blog.html">
                                       <a href="blog-details/{{blog_item.SlugLink}}"><span class="news-item__img"><img src="{{blog_item.Image.url}}" alt="Image"></span></a>
                                        <span class="news-item__info mt-2">
                                            <span class="news-item__info-date">{{blog_item.CreatedAt}} /</span>
                                            <a href="blog-details/{{blog_item.SlugLink}}"><span class="news-item__info-tag">{{blog_item.CreatedName}}</span></a>
                                        </span>
                            
                                        <a href="blog-details/{{blog_item.SlugLink}}"><span class="news-item__title">{{blog_item.Title}}</span></a>
                                    </a>
                            
                                    <a class="vlt-read-more-link" href="blog-details/{{blog_item.SlugLink}}">
                                        Read more
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
							<div class="blog-btn d-flex align-items-center justify-content-center">
								<a class="vlt-btn vlt-btn--primary  vlt-btn--md bg-light text-dark " style="font-weight: 800;" href="/blog-grid/" target="_blank">View All Blogs</a>
							</div>


							  <!-- <div class="col-lg-4 news-item-wrap">
								<div class="news-item"><a class="news-link" href="blog.html"> <span class="news-item__img"><img src="{% static 'assets/img/magazine.png' %}" alt=""></span><span class="news-item__info mt-2"><span class="news-item__info-date">13 February, 2021  /</span><span class="news-item__info-tag">The Ceo Magazine </span></span><span class="news-item__title">Sandeep N’s Visionary Journey </span></a></div>
							  </div>
							  <div class="col-lg-4 news-item-wrap">
								<div class="news-item"><a class="news-link" href="blog.html"><span class="news-item__img"><img src="{% static 'assets/img/kluadmin.png' %}" alt=""></span><span class="news-item__info mt-2 "><span class="news-item__info-date">13 February, 2021  /</span><span class="news-item__info-tag">KLU ALumni</span></span><span class="news-item__title">Elegant women's clothing</span></a></div>
							  </div> -->
							</div>
						  </div>
						<!-- <div class="container">
							
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								<h3>Recent news</h3>
							</div>
							<div class="vlt-gap-100"></div>
							<div class="row">
								<div class="col-xl-4">
								
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
									
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-01.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">Scent in the Voyages</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer">
													<a class="vlt-read-more-link" href="single-post.html">
														Read more
														<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" />
														</svg>
													</a>
												</footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
									
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-02.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">The Stone of the Flames</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="single-post.html">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
									
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-03.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">Secrets of the Serpents</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="single-post.html">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			 
			  <!-- <section class="section pp-scrollable" id="news">
				<div class="news section-inner">
				  <div class="container section-cnt">
					<h2 class="h2 news-title">Latest News</h2>
					<div class="news-items row">
					  <div class="col-lg-4 news-item-wrap">
						<div class="news-item"><a class="news-link" href="blog.html"> <span class="news-item__img"><img src="https://via.placeholder.com/390X355" alt=""></span><span class="news-item__info"><span class="news-item__info-date">12 January, 2021  /</span><span class="news-item__info-tag">Photography</span></span><span class="news-item__title">How to take pictures correctly</span></a></div>
					  </div>
					  <div class="col-lg-4 news-item-wrap">
						<div class="news-item"><a class="news-link" href="blog.html"> <span class="news-item__img"><img src="https://via.placeholder.com/390X355" alt=""></span><span class="news-item__info"><span class="news-item__info-date">13 February, 2021  /</span><span class="news-item__info-tag">Journal</span></span><span class="news-item__title">Dostoevskiy Memorie</span></a></div>
					  </div>
					  <div class="col-lg-4 news-item-wrap">
						<div class="news-item"><a class="news-link" href="blog.html"><span class="news-item__img"><img src="https://via.placeholder.com/390X355" alt=""></span><span class="news-item__info"><span class="news-item__info-date">13 February, 2021  /</span><span class="news-item__info-tag">Photography</span></span><span class="news-item__title">Elegant women's clothing</span></a></div>
					  </div>
					</div>
				  </div>
				</div>
			  </section> -->
			 
			<!--Contact-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Contact" id="Contact">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background"><img src="{% static 'assets/img/webs-four.jpg' %}" alt=""></div>
						<div class="container"> 
							<div class="row contact-sec">
								<div class="col-xl-4">
									<!--Animated Block-->
									<div class="vlt-animated-block vlt-animated-contact contact-title" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
										<h3>Contact</h3>
										<div class="vlt-gap-30"></div>
										<!-- <p>Let's Connect: Building Relationships Through Communication</p> -->
										<div class="vlt-gap-40"></div>
										<address>4th Floor 402, Ayyappa Society,
											Plot No:1303, Madhapur,
											Hyderabad, Telangana 500081.</address>
										<p><a class="tel" href="tel:+91 90449 10449">+91 90449 10449</a></p>
										<p><a class="email" href="mailto:gilber.design@gmail.com">hi@sanstrategies.com</a></p>
										<p><a class="email" href="mailto:gilber.design@gmail.com">copy@sanstrategies.com</a></p>
									</div>
								</div>
								<div class="col-xl-6 offset-xl-2">
									<div class="vlt-gap-70--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<h4>Let's grab a coffee and catch up <span class="has-accent-color">chat with me.</span></h4>
										<div class="vlt-gap-20"></div>
										<form id="contact-submit" class="vlt-contact-form" novalidate="novalidate" method="post">
											{% csrf_token %}
											<div class="vlt-form-group">
												<input type="text" id="name" name="name" required="required" placeholder="Your Name" value="{{name}}">
												{% if errors.name %}
												<p style="color: red;">{{ errors.name }}</p>
												{% endif %}
											</div>
											<div class="vlt-form-group">
												<input type="email" id="email" name="email" accept="" required="required" placeholder="Your Email" value="{{email}}">
												{% if errors.email %}
												<p style="color: red;">{{ errors.email }}</p>
												{% endif %}
											</div>
											<div class="vlt-form-group" required>
												<textarea name="message" id="message" required="required" placeholder="Message">{{ message }}</textarea>
												{% if errors.message %}
												<p style="color: red;">{{ errors.message }}</p>
												{% endif %}
											</div>
											<!-- <div class="message success">Your message is successfully sent...</div>
											<div class="message danger">Sorry something went wrong!</div> -->

											<!--Button-->
											<button type="button" class="vlt-btn vlt-btn--primary vlt-btn--md" id="contact-btn">Contact Me</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Progress Bar-->
			<div class="vlt-fullpage-slider-progress-bar"><span></span></div>
		</div>
	</main>

	<div class="modal" id="Popup">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<!-- Modal Header -->
			<div class="modal-header">
			  <!-- <h4 class="modal-title text-body">Modal Heading</h4> -->
			  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	  
			<!-- Modal body -->
			<div class="modal-body">
				<form class="login-form" action="javascript:void(0);">
				 {% csrf_token %}
					<div class="form-input-material">
					  <input type="text" name="full_name" id="full_name" placeholder="Name" autocomplete="off" class="form-control-material" required />
					  {% if errors.full_name %}
					  <p style="color: red;">{{ errors.full_name }}</p>
					  {% endif %}
					</div>
					<div class="form-input-material">
					  <input type="email" name="invite_email" id="invite_email" placeholder="Email" autocomplete="off" class="form-control-material" required />
					  {% if errors.invite_email %}
					  <p style="color: red;">{{ errors.invite_email }}</p>
					  {% endif %}
					</div>
					<div class="form-input-material">
						<textarea name="reach-us-message" id="reach-us-message" placeholder="Reason To Reach Us"></textarea>
						{% if errors.reach_message %}
						<p style="color: red;">{{ errors.reach_message }}</p>
						{% endif %}
					  </div>
					<button type="submit" id="btn-submit" class="btn btn-primary login-btn btn-ghost">Submit</button>
				  </form>
			 <!-- <form>
				<div class="row">
					<div class="col-md-12">
						<input type="text" name="name" id="name" placeholder="Name"><br>
					</div>
					<div class="col-md-12">
						<input type="text" name="email" id="email" placeholder="Email"><br>
					</div>
					<div class="col-md-12">
						<textarea name="reason_message" id="reason_message" placeholder="Reason To Reach Us"></textarea><br>
					</div>
					<div class="col-md-12">
						<button>Submit</button>
					</div>
					
				</div>
			 </form> -->
			</div>
	  
		  </div>
		</div>
	</div>

	


{% endblock %}	